.calendar {
    width: var(--calendar-width);
    height: var(--calendar-height);
    resize: both;
    overflow:hidden;
}
.calendar__main {
    height: 100%;
}
.calendar__nav {
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 10px 10px 0px 0px;
    background-color: #3BBA6D;
    color: white;
    height: 20%;
}

.calendar__grid {
    background-color:#F2F4F6;
    border-radius: 0px 0px 10px 10px;
    padding: 12px;
    height: 80%;

}

.calendar__week {
    height: 14.2%;
}

.calendar__days {
    height: 85.8%;
}
.calendar__weekList, .calendar__dayList {
    height: 100%;
}

.calendar__rightButton, .calendar__leftButton{
    height: 24px;
    cursor: pointer;
}
.calendar__rightButton svg, .calendar__leftButton svg{
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 1);
}

.calendar__date {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.calendar__weekList, .calendar__dayList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

li {
    text-align: center;
}

.calendar__dayItem, .calendar__weekItem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__dayItem {
    cursor: pointer;
}

.calendar__dayItem--today {
    background-image: url('../assets/icon/today.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: white !important;
    
}

.calendar__dayList li:nth-child(7n+1){
    color: red;
}

.calendar__weekItem, .calendar__dayItem--prev, .calendar__dayItem--next {
    color: #D5D5D5 !important;
} 
