* {
    padding: 0;
    border: 0;
    background-color: unset;
    margin: 0;
    box-sizing: border-box;

}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

li{
    list-style: none;
}