* {
    --font-family: 'Noto Sans KR',sans-serif;
    --calendar-size: 300px;
    --body-font-size: 12px;
    --large-font-size: calc(max(var(--calendar-size), 250px) * 0.0641);
    --medium-font-size: calc(max(var(--calendar-size), 250px) * 0.0395);
}