* {
    --font-family: 'Noto Sans KR',sans-serif;
    --calendar-size: 350px;
    --body-font-size: 12px;
    --large-font-size: calc(var(--calendar-size) * 0.0641);
    --medium-font-size: calc(var(--calendar-size) * 0.0395);
}